
    <nav class="side-bar">
        <div class="side-bar-container">
            <img class="side-bar-logo" src="./assets/img/side-bar-join-logo.svg" alt="Join">
            <div class="side-bar-navigation">
                <div id="side-bar-summary" class="side-bar-button" onclick="window.location.href='summary.html'" >
                    <img class="side-bar-nav-icon-small" src="./assets/img/icons/side-bar-summary.svg" alt="Summary">
                    <span>Summary</span>
                </div>
                <div id="side-bar-board" class="side-bar-button" onclick="window.location.href='board.html'" >
                    <img class="side-bar-nav-icon" src="./assets/img/icons/side-bar-board.svg" alt="Board">
                    <span>Board</span>
                </div>
                <div id="side-bar-add-task" class="side-bar-button" onclick="window.location.href='add-task.html'" >
                    <img class="side-bar-nav-icon" src="./assets/img/icons/side-bar-addTask.svg" alt="Add Task">
                    <span>Add Task</span>
                </div>
                <div id="side-bar-contacts" class="side-bar-button" onclick="window.location.href='contacts.html'">
                    <img class="side-bar-nav-icon" src="./assets/img/icons/side-bar-contacts.svg" alt="Contacts">
                    <span>Contacts</span>
                </div>
            </div>
            <div id ="side-bar-legal" class="side-bar-bottom">
                <div class="side-bar-legal-notice" onclick="window.location.href='legal-notice.html'" >
                    <img class="side-bar-nav-icon"  src="./assets/img/icons/side-bar-info.svg" alt="Info">
                    <span>Legal notice</span>
                </div>
            </div>
         </div>
    </nav>
