.summary-main-container {
    display: flex;
    flex-direction: column;

    margin-top: 141px;
    margin-left: 315px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.summary-media-kanban {
    display: none;
}

/* --- Summary-Header --- */
.summary-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;

    width: 679px;
}

.summary-headline {
    width: 315px;

    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.blue-line {
    border-left: 3px solid var(--light-blue);
    height: 59px;
}

.summary-header-sub {
    width: 308px;
    height: 32px;

    font-weight: 400;
    font-size: 27px;
    line-height: 120%;

    color: var(--dark-grey);
}

/* --- Summary-Content-General --- */
.summary-content {
    display: flex;
    align-items: center;
    padding-top: 87px;
    max-width: 1500px;
}

.summary-tasks-general {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0px;
    gap: 35px;

    width: 55%;
    height: 510px;
}

/* --- Summary-Tasks --- */
.summary-tasks-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    padding: 0px;
    gap: 35px;

    width: 580px;
    height: 170px;
}

.summary-tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 170px;

    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    transition: all 100ms ease-in-out;
}

.summary-tasks:hover {
    background-color: var(--dark-grey);
    cursor: pointer;
    color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.3);

    transform: scale(1.05);
}

.summary-tasks div {
    text-align: center;

    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.summary-tasks span {
    text-align: center;
}

/* --- Summary-Content-Urgency --- */
.summary-urgency-date {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;

    width: 580px;
    height: 150px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.summary-urgency-date:hover {
    transform: scale(1.05);

    background-color: var(--dark-grey);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.summary-urgency-date:hover div {
    color: #FFFFFF;
}

.summary-urgency {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;

    width: 130px;
    height: 75px;
}

.summary-urgency-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 52px;
    height: 75px;
}

.summary-urgency-number {
    width: 50px;
    height: 56px;

    font-weight: 600;
    font-size: 47px;
    line-height: 120%;

    text-align: center;
}

.summary-urgency-name {
    width: 52px;
    height: 19px;

    font-weight: 400;
    font-size: 16px;

    color: var(--dark-grey);
}

.grey-line {
    width: 0px;
    height: 102.02px;

    border: 2px solid var(--grey);
}

.summary-date-deadline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;

    height: 57px;
}

.summary-date {
    height: 25px;

    font-weight: 700;

    color: var(--dark-grey);
}

.summary-deadline {
    width: 148px;
    height: 19px;

    font-weight: 400;
    font-size: 16px;

    color: var(--dark-grey);
}

/* --- Summary-ToDo-And-Done --- */
.summary-to-do-done {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 35px;

    width: 580px;
    height: 150px;
}

.summary-to-do:hover,
.summary-done:hover {
    transform: scale(1.1);
    background-color: var(--dark-grey);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.summary-to-do:hover .d-none,
.summary-done:hover .d-none {
    display: block !important;
}

.summary-to-do:hover .summary-pencil-img,
.summary-done:hover .summary-check-img {
    display: none;
}

.summary-to-do:hover div,
.summary-done:hover div {
    color: #FFFFFF;
}

.summary-to-do,
.summary-done {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;

    width: 272.5px;
    height: 150px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.summary-to-do-done-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 60px;
}

.summary-to-do-done-sub-number {
    height: 77px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;

    text-align: center;

    color: #000000;
}

.summary-to-do-done-sub-name {
    height: 25px;

    color: var(--dark-grey);
}

/* --- Summary-Welcome --- */
.summary-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: 67px;
    gap: 3px;

    width: 385px;
    height: 136px;
}

.summary-welcome-greeting {
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;

    color: var(--dark-grey);
}

.summary-welcome-name {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;

    color: var(--light-blue);
}

/* --- Summary-Welcome-Responsive --- */
.summary-welcome-center {
    display: flex;
    text-align: center;
}