@media (max-width: 1170px) {
    .add-task-main-content {
        margin: 119px 30px 80px 30px;
        padding: 0px;
        align-items: center;
        font-size: 16px;
    }

    .add-task-main-content-template {
        margin-top: 68px !important;
    }

    .add-task-media {
        width: 513px;
    }

    .add-task-media-kanban {
        display: flex;

        margin: 0px 0px 20px 3px;

        color: #000000;
    }

    .add-task-headline {
        width: 100%;
        height: 56px;
        font-size: 47px;
        margin-left: 3px;
        margin-bottom: 20px;
    }

    /* --- Form --- */
    .add-task-container {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    /* --- Form-Left-Side --- */
    .add-task-leftside {
        width: 100%;

        gap: 14px;
    }

    .add-task-title {
        height: 68px;
    }

    .add-task-title input {
        font-size: 16px;
    }

    .add-task-description {
        margin-top: 2px;
        height: 120px;
    }

    .add-task-description textarea {
        font-size: 16px;
    }

    /* --- Form-Left-Side-Category --- */
    .add-task-category {
        gap: 0px;
    }

    .add-task-category label {
        margin-bottom: 8px;
    }

    .add-task-category-dropdown {
        font-size: 16px;
    }

    .add-task-new-categroy-input {
        font-size: 16px;
    }

    .add-task-new-category-dots {
        margin-top: 4px;
    }

    /* --- Form-Left-Side-Assigned --- */
    .add-task-assigned-dropdown {
        font-size: 16px;
    }

    .add-task-new-contact-input {
        font-size: 16px;
    }

    .add-task-assigned-user {
        width: 25px;
        height: 25px;
    }

    /* --- Form-Greyline-Mid --- */
    .add-task-greyline {
        display: none;
    }

    /* --- Form-Right-Side --- */
    .add-task-rightside {
        width: 100%;

        gap: 14px;
    }

    /* --- Form Rightside Due-Date --- */
    .add-task-due-date {
        height: 68px;
    }

    .add-task-due-date input {
        font-size: 16px;
    }

    /* --- Form Rightside Due-Date --- */
    .add-task-prio {
        margin-top: 4px;
        height: 78px;
    }

    .add-task-prio-button-container {
        height: 51px;
    }

    .add-task-prio-button-container button {
        height: 41px;

        font-size: 16px;
    }

    /* --- Form Rightside Subtask --- */
    .add-task-subtask-input-container {
        height: 41px;
    }

    .add-task-subtask-main-placeholder input {
        font-size: 16px;
    }

    /* --- Form Rightside Buttons --- */
    .add-task-clear {
        display: none;
    }

    .add-task-create {
        display: none;
    }

    .add-task-create-media {
        width: 124px;
        height: 55px;

        background: var(--dark-grey);
        border-radius: 10px;

        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 120%;

        color: #FFFFFF;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 17px;
        right: 10px;
        z-index: 5;
    }

    .add-task-create-media:hover {
        background: var(--light-blue);
        border: var(--light-blue);

        color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    /* --- Added Task --- */
    .add-task-added {
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 800px) {
    .add-task-media {
        width: 313px;
    }
}